In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('C:\sanju\Healthcare_Insights_Dashboard_Project\data\Healtcare-Dataset_guvi.csv')
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\ssubr\AppData\Local\Temp\ipykernel_22400\679483445.py:1: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv('C:\sanju\Healthcare_Insights_Dashboard_Project\data\Healtcare-Dataset_guvi.csv')

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,12/31/2022,1/12/2023,Viral Infection,General,MRI,Jay Sinha,1/20/2023,5.0,13234,11911
1,27781,1/4/2023,1/12/2023,Typhoid,ICU,MRI,Jaya Yaadav,1/16/2023,4.0,12241,11017
2,24413,1/5/2023,1/12/2023,Malaria,General,CT Scan,Jay Sinha,1/15/2023,5.0,35255,31730
3,27360,1/5/2023,1/12/2023,Flu,Private,X-Ray,Jaya Yaadav,1/19/2023,5.0,6582,5924
4,26097,1/6/2023,1/12/2023,Viral Infection,General,Blood Test,Jaya Yaadav,2/6/2023,4.9,4567,4110

In [5]:
#getting an idea about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   object
 2   Discharge_Date           7157 non-null   object
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   object
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 615.2+ KB

In [6]:
df.describe()

         Patient_ID     Feedback  Billing Amount  Health Insurance Amount
count   7157.000000  7157.000000     7157.000000              7157.000000
mean   27149.000000     4.723543    26607.891854             23947.292162
std     2066.192271     0.479901    25791.931009             23212.695899
min    23571.000000     3.500000     1223.000000              1101.000000
25%    25360.000000     4.500000     5454.000000              4909.000000
50%    27149.000000     5.000000    12348.000000             11113.000000
75%    28938.000000     5.000000    43522.000000             39170.000000
max    30727.000000     5.000000    95867.000000             86280.000000

In [8]:
print(df.columns)

Index(['Patient_ID', 'Admit_Date', 'Discharge_Date', 'Diagnosis',
       'Bed_Occupancy', 'Test', 'Doctor', 'Followup Date', 'Feedback',
       'Billing Amount', 'Health Insurance Amount'],
      dtype='object')

In [ ]:
#checking for nullvalues

df.isnull().sum()

Patient_ID                   0
Admit_Date                   0
Discharge_Date               0
Diagnosis                    0
Bed_Occupancy                0
Test                         0
Doctor                       0
Followup Date              122
Feedback                     0
Billing Amount               0
Health Insurance Amount      0
dtype: int64

Only one column Followup Date is missing. Replacing the null value with 'Not scheduled'

In [9]:
#converting the date columns to datetime format
df['Admit_Date'] = pd.to_datetime(df['Admit_Date'], errors='coerce')
df['Discharge_Date'] = pd.to_datetime(df['Discharge_Date'], errors='coerce')
df['Followup Date'] = pd.to_datetime(df['Followup Date'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   datetime64[ns]
 2   Discharge_Date           7157 non-null   datetime64[ns]
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(4)
memory usage: 615.2+ KB

In [ ]:
#Handle Missing Followup Dates
df['Followup Date'] = df['Followup Date'].fillna('Not Scheduled')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   datetime64[ns]
 2   Discharge_Date           7157 non-null   datetime64[ns]
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7157 non-null   object
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(3), object(5)
memory usage: 615.2+ KB

In [13]:
df.head(10)

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20 00:00:00,5.0,13234,11911
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16 00:00:00,4.0,12241,11017
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15 00:00:00,5.0,35255,31730
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19 00:00:00,5.0,6582,5924
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06 00:00:00,4.9,4567,4110
5,28623,2023-01-06,2023-01-12,Flu,General,Blood Test,Naresh Goyenka,2023-01-20 00:00:00,5.0,6454,5809
6,23992,2023-01-07,2023-01-12,Malaria,General,X-Ray,Tejas Saxena,2023-01-16 00:00:00,5.0,2245,2021
7,25255,2023-01-07,2023-01-12,Pneumonia,Private,X-Ray,Mark Joy,2023-01-15 00:00:00,5.0,5637,5073
8,25676,2023-01-07,2023-01-12,Viral Infection,Private,Ultrasound,Jaya Yaadav,2023-01-19 00:00:00,5.0,65748,59173
9,26939,2023-01-07,2023-01-12,Malaria,ICU,Blood Test,Tejas Saxena,2023-02-07 00:00:00,5.0,2343,2109

In [14]:
#creating a new column length of stay
df['Length_of_Stay'] = (df['Discharge_Date'] - df['Admit_Date']).dt.days

In [15]:
df.head(10)

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount,Length_of_Stay
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20 00:00:00,5.0,13234,11911,12
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16 00:00:00,4.0,12241,11017,8
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15 00:00:00,5.0,35255,31730,7
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19 00:00:00,5.0,6582,5924,7
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06 00:00:00,4.9,4567,4110,6
5,28623,2023-01-06,2023-01-12,Flu,General,Blood Test,Naresh Goyenka,2023-01-20 00:00:00,5.0,6454,5809,6
6,23992,2023-01-07,2023-01-12,Malaria,General,X-Ray,Tejas Saxena,2023-01-16 00:00:00,5.0,2245,2021,5
7,25255,2023-01-07,2023-01-12,Pneumonia,Private,X-Ray,Mark Joy,2023-01-15 00:00:00,5.0,5637,5073,5
8,25676,2023-01-07,2023-01-12,Viral Infection,Private,Ultrasound,Jaya Yaadav,2023-01-19 00:00:00,5.0,65748,59173,5
9,26939,2023-01-07,2023-01-12,Malaria,ICU,Blood Test,Tejas Saxena,2023-02-07 00:00:00,5.0,2343,2109,5

In [20]:
# Saving the cleaned data into a CSV file
df.to_csv('../data/cleaned_data.csv', index=False)